# EmailJS Configuration
# Get your credentials from https://dashboard.emailjs.com/
#
# VITE_EMAILJS_PUBLIC_KEY: Your EmailJS Public Key (found in Account > API Keys).
# VITE_EMAILJS_SERVICE_ID: The ID of the email service you want to use (e.g., 'service_abc123').
# VITE_EMAILJS_TEMPLATE_CLIENT: The ID of the template for emails sent to the user who fills out the form.
# VITE_EMAILJS_TEMPLATE_INTERNAL: The ID of the template for internal notification emails sent to your team.

VITE_EMAILJS_PUBLIC_KEY="DEjXqyg_gn2ZE1nh6"
VITE_EMAILJS_SERVICE_ID="service_cvxz9fm"
VITE_EMAILJS_TEMPLATE_CLIENT="template_9oig4yf"
VITE_EMAILJS_TEMPLATE_INTERNAL="template_0f07aafa"